<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='./static/icons/ico/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400i|Noto+Sans:400,700" rel="stylesheet">
	</head>

	<body>
		<div class="index-page-container">
			<% include ../../shared/index-page-left %>

			<div class='index-page-right'>
				<% include ../../shared/nav %>

				<div class='index-page-view-content'>
					<div class='single-topic-container'>
						<header class='single-topic-header'>
							<h2><%= topic.title %></h2>
							<p><%= topic.description %></p>

							<div class='single-topic-create-section'>
								<a href='/<%= topic.title %>/create-section'>
									<button>
										<span>Create Section</span>
									</button>
								</a>
							</div>
						</header>

						<div class='single-topic-sections'>
							<div>
								<% sections.map((section) => { %>
									<div class='single-section'>
										<div class='single-section-header'>
											<a href='/<%= section.title %>/create-post'>
												<h3><%= section.title %></h3>
												<p><%= section.description %></p>
											</a>
										</div>

										<div class='single-section-posts'>
											<% section.posts.map((post) => { %>
												<div>
													<div></div>
													<button><%= post.title %></button>
												</div>
											<% }); %>
										</div>
									</div>
								<%	}); %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src='./scripts/main.min.js'></script>
	</body>
</html>